.featured_section {
    background-image:  url('../../../assets//home/featured.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.featured_section .featured {
    background: rgba(21, 21, 21, 0.7);
    color: white;

}